@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete Product";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="delete-product" class="info-section text-white bg-right bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="head-box">
                    <h2 class="font-abril">Delete Product</h2>
                </div>
                <div class="product-details mt-5">
                    <dl class="row">
                        <input style="display: none" asp-for="Product.Id" class="form-control" id="Product_Id"/>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.Name)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.Category)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.Category.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.Description)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.Description)
                        </dd>
                        <dt class="col-sm-4">
                            Image File
                        </dt>
                        <dd class="col-sm-8">
                            <img src="@Url.Content("~/images/products/" + Model.Product.ImageFile)" alt="Product Image" class="img-thumbnail"/>
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.Price)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.Price)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.Ingredients)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.Ingredients)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.UsageInstructions)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.UsageInstructions)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.StockQuantity)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.StockQuantity)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.CreatedAt)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.CreatedAt)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.CreatedBy)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.CreatedBy)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.LastModified)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.LastModified)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Product.LastModifiedBy)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Product.LastModifiedBy)
                        </dd>
                    </dl>

                    <form method="post">
                        <input type="hidden" asp-for="Product.Id"/>
                        <input id="deleteButton" type="submit" value="Delete" class="btn btn-danger"/> |
                        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SalesManagementClient.js"></script>